.about-page {
    font-family: Arial, sans-serif;
    padding: 0px;
    background-color: #f9f9f9;
    color: #333;
    position: absolute;
    bottom: 0;
    top: 0;
    left:0;
    right: 0;
    padding-top: 0;
}
  
  .about-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .about-header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .about-header p {
    font-size: 18px;
    color: #666;
  }
  
  .about-content {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom : 50px;
  }
  
  .about-section {
    margin-bottom: 50px;
  }
  
  .about-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .about-section p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .about-section ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .about-section ul li {
    font-size: 16px;
    margin-bottom: 5px;
  }