body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ececec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #000;
  font-size: 10px;
}

.container-fluid{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-lg{
  width: 100vw;
  margin-bottom: 70px;
}

.container-row{
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}

.container-rowss{
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.row-colssss{
  width: 100%;
  margin: 10px;
  border: none;
  background: rgba(250, 212, 0, 0.93);
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.row-colsss{
  width: 100%;
  margin: 10px;
  border: none;
  box-shadow: 0 0 1px 1px gray;
  background: #fff;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  align-items: center;
}

.row-colsss > h3 {
font-size: 16px;
}

.row-colssss > div >  h3 {
  font-size: 16px;
}

.row-colss{
  width: 150px;
  height: 150px;
  margin: 10px;
  align-items: center;
  text-align: center;
  border: none;
  box-shadow: 0 0 1px 1px gray;
  background: #fff;
  border-radius: 50%;
  text-decoration: none;
  color: #000;
}

.row-colss> h3{
  font-size: 16px;
}

.row-cols{
  width: 150px;
  margin: 10px;
  text-align: center;
}

.row-cols > h3 {
  font-size: 16px;
}

.row-cols > p{
  font-size: 13px;
}

.cart-col{
  width: 100%;
  border: none;
  background: #fff;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgb(215, 215, 215);
}

.row-cols > .add-to-cart{
  max-height: 50px;
}

.screen{
  max-width: 100vw;
  margin-top: 10px;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ececec9a;
  color: #fff;
  padding: 10px;
}

.user-icon{
  font-size: 50px;
}

.navbar-logo {
  margin-top: 0;
}

.logo {
  font-family: 'Tahoma';
}

.search {
  padding: 10px;
  width: 600px;
  padding-left: 35px;
  border: none;
  border-radius: 2px;
  outline: none;
  z-index: 1000;
}

.search-icon {
  font-size: 20px;
  margin: 5px;
  position: absolute;
  right: 64%;
  top: 2.5%;
  color: #000;
}

.row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.row > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row > .div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.fot:hover {
  background-color: #000;
  color: #fff;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
}

.fot{
  font-size: 25px;
  color: #000;
}

.img{
  width: 150px;
  height: 120px;
  border-radius: 10px;
}

.cart_img{
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.row-col{
  border: #fff;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 5px;
}

.back {
  font-size: 25px;
  display: flex;
  float: inline-end;
  margin-right: 20px;
  color: #ba8c63;
}

.back-bg {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 7px;
}

.row-col > p{
  margin-top: 0;
  font-size: 16px;
  font-family: Tahoma;
 }

.col-row{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.col > h5 {
  font-size: 20px;
}

#row-top2 {
  padding: 5px;
  width: 100vw;
  overflow: auto;
  margin-top:50px;
}

#rw-top{
  padding: 5px;
  width: 100vw;
  overflow: auto;
}

.add-to-cart{
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  height: 100%;
  background-color: #ba8c63;
  border: none;
  outline: none;
}

.add-to-cart:hover{
  background-color: #000;
  color: #fff;
}

#footer{
  background-color: #fff;
  color: #000;
}

#row-footer{
  padding: 10px;
}

#badge{
  background-color: blue;
  color:#fff;
  font-size: 10px;
  padding: 5px;
  border-radius: 50%;
}

.row-offers{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px;
}

#rw{
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ba8c63;
  text-decoration: none;
  color: #000;
}

#rw:hover{
  background-color: #ba8c63;
  box-shadow: 0 0 1px 1px gray;
  color: #fff;
}

.rw-icon{
  font-size: 50px;
  font-family:'digital-clock-font';
}

.rw-icons{
  font-size: 30px;
  font-family:'digital-clock-font';
}

#gift-cl {
  transform: rotate(20deg);
}

#gift-cl:hover{
  color: #fff;
}

.open-modal{
  width: 100vw;
  display: block;
  position: fixed;
  top: 0;
  bottom: 8%;
  z-index: 5000;
  background: #ececec;
  overflow-y: auto;
  overflow-x: hidden;
}

.close-modal{
  display: none;
}

.modal-body{
  max-width: 100%;
  display: flex;
  margin-top: 10%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 5%;
}

.header-offers {
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
  color: rgb(154, 135, 29);
}

.offer-icon{
  font-size: 20px;
  color: rgb(237, 202, 4);
}

.header-cart {
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
  color: #000;
}

.cart-icon{
  font-size: 20px;
  color: #000;
}

.cart-input{
  padding: 5px;
  width: 50px;
  text-align: center;
}

.cart_button_right{
 margin-right: 5px;
}

.cart_button_left{
  margin-left: 5px;
 }

.btn_order{
  position: absolute;
  bottom: 10%;
  width: 100%;
  padding: 10px;
  background-color: rgb(12, 235, 38);
  border: none;
  color: #fff;
  box-shadow: 0 2px 2px 1px gray;
  font-size: 16px;
}

.btn_order:hover{
  box-shadow: none;
  background: rgb(18, 192, 38);
}

#cart-scroll{
max-height: 350px;
overflow-y: auto;
overflow-x: hidden;
}

.modal-header > h2{
  width: 100vw;
  color: #fff;
}

.modal-header > h3 {
  margin-top: 15%;
}

.modal-total{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
}

.modal-pay{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.lipa {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  background: #fff;
  padding: 5px;
}

.mpesa {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
}

.pay-bill {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.paybill{
  width: 30px;
  height: 40px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  border: 1px solid #000;
}

.btn_orders{
  position: absolute;
  bottom: 1%;
  width: 100vw;
  padding: 10px;
  background-color: rgb(18, 192, 38);
  border: none;
  color: #fff;
  box-shadow: 2px 0px 2px 2px gray;
  font-size: 16px;
  z-index: 6000;
}

.btn_orders:hover{
  background-color: rgb(12, 235, 38);
}

#myModal{
  position: fixed;
  bottom: 0;
  height: 100vh;
}

.tcode{
  width: 70%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 5px;
}

.user-icon{
  font-size: 100px;
  color: rgb(101, 93, 93);
}

.user-col{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: #000;
}

.user-cols{
  padding: 10px;
  display: flex;
  justify-content: space-around;
  color: #000;
}

.divs {
  background: #fff;
  padding: 10px;
  width: 50%;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
}

.divs:hover{
  text-decoration: none;
}

.divs > h3 {
  font-size: 16px;
  color: #000;
}

.divs > p {
  color: #000;
}

.div{
  background: #fff;
  padding: 5px;
  padding-left: 15px;
  width: 100%;
  margin: 0px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

.div > h3 {
  margin-left: 10px;
  font-size: 16px;
}

.div:hover{
  text-decoration: none;
}

#logout > .div{
  background-color: rgb(227, 15, 15);
  color: #fff;
  margin: 5px;
}

#logout > .div > .cart-icon{
  color: #fff;
}

.xlg-link{
  text-decoration: none;
  background-color: red;
  border: none;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  color: #fff;
}

.modal-scroll {
  display: flex;
  align-items: center;
  margin-top: 10%;
  justify-content: space-evenly;
 background-color: #fff;
}

.modal-scroll > .ords {
  text-decoration: none;
  color: #ba8c63;
} 

.modal-scroll > .ords:hover {
  border-bottom: 3px solid #ba8c63;
}

.call-bottom{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 2px 2px gray;
  border-bottom: none;
  padding-top: 40px;
  padding-bottom: 20px;
}

.calls{
  display: none;
}

.call-icon{
  font-size: 40px;
  border-radius: 50px;
  box-shadow:  0 0 1px 1px gray;
  padding: 10px;
  background: gray;
  opacity: 0.7;
}

#pswd, #fon, #loc{
  display: none;
}

.mod{
  margin: 10px;
}

.log-in{
  display: flex;
  justify-content: center;
  max-width: 400px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 70vh;
  max-height: 70vh;
}

.log-in > h1 {
  text-shadow: 5px 5px 10px black;
}

.log-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.email, .password , .username{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px gray;
}

.submit{
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: #000;
  color: #ececec;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 10px black;
}

#sub-google {
  background-color: blue;
  margin-top: 10px;
}

.submit:hover{
 box-shadow: none;
}

#forgot-pswd {
  text-decoration: none;
  color: red;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 10px;
}

#sign-up {
  text-decoration: none;
  color: blue;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 10px;
  font-family: Verdana;
}

.login-icn {
  font-size: 50px;
  box-shadow: 5px 5px 10px black;
  padding: 10px;
  border-radius: 5px;
}

.log-frst > h1 {
  text-shadow: 5px 5px 10px black;
}

.log-row{
  width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ececec;
}

.log-frst{
  text-align: center;
  align-items: center;
}

#contry_code{
  padding: 10px;
  background-color: green;
  color: #fff;
  border: none;
  outline: none;
}

#phone_code{
  display: flex;
  width: 100%;
  align-items: center;
}

.phone {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px gray;
}

#sgn-google {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: blue;
  color: #ececec;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 10px black;  
}

#sgn-google:hover {
  box-shadow: none;
}

#address-btn {
  padding: 10px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  margin: 5px;
}

#address-btn:hover{
  background-color: #1c1b1b04;
  color: #000;
}

#locs{
  background-color: #ececec;
  text-align: center;
  align-items: center;
  padding: 10px;
  font-size: 10px;
}

.me-pswd {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.me-pswd > .tcode {
  width: 90%;
  border: none;
  outline: none;
}

#suggest-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#suggest-btn > .tcode {
  background-color: rgb(12, 235, 38);
  color: #fff;
  box-shadow: 2px 2px 2px #000;
  border: none;
}

#suggest-btn > .tcode:hover {
  background-color: rgb(18, 192, 38);
  box-shadow: none;
}

.nav{
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;

}

.nav-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav-logo > h2 {
  text-shadow: 6px 6px 6px #000;
}

.nav-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-item-icn {
  font-size: 50px;
  margin-right: 10px;
  margin-left: 20px;
}

.not-icn{
  font-size: 20px;
  margin-right: 10px;
}

.nav-item-icn:hover{
  cursor: pointer;
  opacity: 0.7;
}

.not-icn:hover{
  cursor: pointer;
  opacity: 0.7;
}

.sidenav{
    background-color: rgb(7, 20, 55);
    color: #fff;
    height: calc(100vh - 100px);
    width: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 2%;
    bottom : 0;
    top: 11.5%;
    border-radius: 30px;
    text-align: center;
}

.sidenav-container {
  margin-top: 80px;
  text-align: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  width: 100%;
  /*border-bottom: 1px solid gray;*/
  padding-bottom: 10px;
  padding-top: 10px;
}

.links > span {
  margin-left: 30px;
  display: none;
}

.links:hover {
  background: #ececec;
  color: rgb(7, 20, 55);
}

.links[title]:hover::after {
  content: attr(title);
  font-size: 14px;
  color: white;
  background-color: rgb(7, 20, 55);
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  
}

.links-icn {
  margin-left: 10px;
  font-size: 30px;
}

.links-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#links-out:hover{
  background-color: rgb(227, 15, 15);
  color: #fff;
}

#cont-fd{
  margin-left: 16%;
  display: flex;
  flex-direction: column;
}

.rows{
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.col-3{
  box-shadow: 0px 0px 5px 0px #000;
  padding: 10px;
  width: 100%;
  margin: 5px;
  border-radius: 5px;
}

.alt{
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.alt-icn {
  font-size: 25px;
  opacity: 0.4;
}

.col-dv-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table{
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 1px gray;
  width: 90%;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table > tr > td{
  border-bottom: 1px solid gray;
  opacity: 0.5;
  font-size: 14px;
}

.table > tr > td:hover{
  opacity:1;
}

.table-respo{
  width: 100%;
  overflow: auto;
  max-height: 72vh;
}

.table > tr > th {
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 14px;
}

.td-icn {
  font-size: 20px;
  margin: 10px;
}

.td-icn:hover {
  opacity: 0.4;
  cursor: pointer;
}

#myModal {
  height: calc(100vh - 70px);
  width: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  bottom : 0;
  z-index: 6000;
  box-shadow: 5px 5px 5px 5px gray;
  background-color: #fff;
  display: none;
}

#myModales {
 /* height: calc(100vh - 70px);*/
  width: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  bottom : 0;
  z-index: 6000;
  box-shadow: 5px 5px 5px 5px gray;
  background-image: linear-gradient(rgb(7, 20, 55), rgb(125, 12, 120));
  display: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ececec;
}

#myModaless {
  /* height: calc(100vh - 70px);*/
   width: 350px;
   overflow-y: auto;
   overflow-x: hidden;
   position: fixed;
   right: 0;
   top: 0;
   bottom : 0;
   z-index: 6000;
   box-shadow: 5px 5px 5px 5px gray;
   background-image: linear-gradient(rgb(7, 20, 55), rgb(125, 12, 120));
   display: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #ececec;
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.modal-header{
  text-align: center;
  align-items: center;
}

.modal-body {
width: 100vw;
}

.backdrop-background {
  position: fixed;
  left: 0;
  right: 22.7%;
  top: 0;
  bottom : 0;
  background-color: gray;
  opacity: 0.4;
  z-index: 10000;
  cursor: crosshair;
  caret-color: rgb(227, 15, 15);
  display: none;
}

.backdrop-backgrounds {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom : 0;
  background-color: gray;
  opacity: 0.4;
  z-index: 10000;
  cursor: crosshair;
  caret-color: rgb(227, 15, 15);
  display: none;
}

.eml {
  width: 80%;
  padding: 5px;
  border: 1px solid #000;
}

.modal-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.modal-footer{
  width: 100%;
  align-items: center;
  text-align: center;
}

.mod-btn{
  width: 80%; 
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
}

#mod-btn-grn:active, #mod-btn-gry:active{
 background-image: linear-gradient(rgb(7, 20, 55), rgb(125, 12, 120));
 color: #fff;
}

#mod-btn-grn{
  background: rgb(12, 235, 38);
  border: none;
  color: #ececec;
  font-size: 20px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* box-shadow: 1px 1px 2px 2px #000;*/
}

#mod-btn-grn:hover{
  background-color: rgb(18, 192, 38);
  cursor: pointer;
  box-shadow: none;
}

#mod-btn-gry{
  background: black;
  border: none;
  color: #ececec;
  font-size: 20px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 /* box-shadow: 1px 1px 2px 2px #000;*/
}

#mod-btn-gry:hover{
  background-color: gray;
  cursor: pointer;
  box-shadow: none;
}

#add-user{
  max-width: 100%; 
  border: none;
  box-shadow: 0 0 1px 2px gray;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px; 
  background: rgb(12, 124, 235);
  color: #fff;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#add-user:hover{
  opacity: 0.7;
  box-shadow: none;
}

.emls{
  width: 100%;
  padding: 20px;
  margin-top: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: none;
  outline: none;
  text-align: center;
}

.emsl{
  width: 100%;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  text-align: center;
}

.prd-nem {
  margin-top: 10%;
  font-size: 100px;
  color:#ececec;
}

#alt-img {
 width: 100px;
 height: 100px;
 border-radius: 10%;
 box-shadow: 0px 0px 2px 2px #ececec;
}

#alt-imgs {
  width: 90px;
  height: 80px;
  border-radius: 10%;
  box-shadow: 0px 0px 2px 2px gray;
}

#alt-edit{
  font-size: 30px;
  position: absolute;
  left: 47%;
  top: 17%;
  color: #ececec;
  cursor: pointer;
  z-index: 6000;
}

#alimgs{
  max-width: 300px;
  max-height: 400px;
  border-radius: 5px;
}

.imgss{
  width: 100%;
  max-height: 100%;
}

.column{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 13%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.col{
  display: flex;
  width: 100%;
}

.col > p{
  margin-left: 20px;
}

.col-pr{
  width: 100%;
  background: #fff;
  color: #000;
  padding: 5px;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

.pr{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.tr {
  padding: 10px;
  text-align: center;
  border: 1px dotted #000;
}

.col-line{
  border-left: 10px double gray;
  height: 50px;
  margin-left: 25px;
}

.prc-col{
  box-shadow: 0 0 1px 1px gray;
  width: 90%;
  align-items: center;
  align-self: center;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  margin-bottom: 10px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#sticky{
  position: fixed;
  width: 100%;
}

#ord-prv{
  display: none;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  z-index: 5000;
  background: #ececec;
  bottom: 0;
  top: 0;
}

#ord-list{
  width: 100%;
  margin-top: 25%;
}

.ord-nav{
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #000;
}

.ord-nav-nav{
  background-color: #fff;
  padding: 10px;
  margin-top: 5px;
}

.ord-nav-nav > .row > h4{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ord-nav-nav > .row > span{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 14px;
}

.btn_ord{
  width: 100%;
  padding: 10px;
  color: #fff;
  background: rgb(227, 15, 15);
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px 2px rgb(233, 231, 231);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn_canc{
  display: none;
  visibility: hidden;
}

.btn_ords{
  width: 100%;
  padding: 10px;
  color: #fff;
  background: #000;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px 2px rgb(165, 163, 163);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.table{
  margin-bottom: 10px;
  overflow: auto;
  max-width: 100%;
}

.rd{
  height: 50px;
  width: 50px;
  accent-color: #ba8c63;
}

.badg{
  background: pink;
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 5px;
  color: gray;
}

.prog{
  background: goldenrod;
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 5px;
  color: #fff;
}

.rout{
  background: rgb(100, 218, 32);
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 5px;
  color: #fff;
}

.deliv{
  background: rgb(18, 192, 38);
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 5px;
  color: #fff;
}

.canc{
  background: rgb(227, 15, 15);
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 5px;
  color: #fff;
}

.nul{
  display: none;
  visibility:hidden;
}

#clrd, #clrs{
  border-color: #ba8c63;
}

#bod{
  border-bottom: 3px solid #ba8c63;
}

#nobod{
  border: none;
}

.bod{
  display: block;
}

.nobod{
  display: none;
}

#notif-bell{
  animation: mybell 5s infinite;
}

#fil{
  width: 100vw;
}

@keyframes mybell {
  0% {
    transform: rotateY(40deg);
    color: green;
  }
  50% {
    transform: rotateY(0deg)
  }
  100% {
    transform: rotateY(40deg);
    color: red;   
  }
}

#prc-loc{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#descr{
  display : flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.clrs > .Link{
  text-decoration: none;
  color: #000;
  padding: 10px;
  border: 1px solid lightgray;
}

.clrs > .Links{
  text-decoration: none;
  color: #fff;
  padding: 10px;
  background: red;
}

.clrs > .Links:hover{
  background: rgb(227, 15, 15);
}

.clrs > .Link:hover{
  background: #fff;
  color: #ba8c63;
}

.clrs{
  display: none;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 1px gray;
  background: #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
}

#log-out{
  position: absolute;
  top: 8%;
  right: 1%;
  background-color: #ececec;
  z-index: 12000;
  padding: 3px;
  display: none;
  border-radius: 5px;
  padding: 5px;
}

.logout-links{
  color: #ececec;
  background-color: rgb(227, 15, 15);
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.col-33{
  width: 100%;
  max-height: 350px;
}

#clr1{
  background-image: linear-gradient(to left, rgb(125, 147, 207),  rgba(255,0,0,1));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ececec;
}

#clr2{
  background-image: linear-gradient(to right, rgb(125, 147, 207), rgba(255,0,0,1));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ececec;
}

#clr3{
  background-image: linear-gradient(to right,  rgba(255,0,0,1), rgb(192, 128, 18));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ececec;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.swi-per{
  height: 400px;
  display: flex;
}

.img-s{
  width: 250px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px gray;
}

.swiprslide{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.swiper1 h4 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.swiper1 .descr-swi{
  width: 400px;
  max-height: 99px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper1 .add-to-cart{
  width: 100%;
  height: 15%;
  background-image: linear-gradient(rgb(7, 20, 55), rgb(125, 12, 120));
  color: #ececec;
  cursor: pointer;
  margin-top: 5px;
}

.prdt-div .add-to-cart{
  width: 100%;
  height: 15%;
  background-image: linear-gradient(rgb(7, 20, 55), rgb(125, 12, 120));
  color: #ececec;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.swiper1 .add-to-carts{
  width: 100%;
  height: 15%;
  margin-top: 5px;
  background: #000;
  color: #ececec;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
}

.swiper1 button:hover{
  opacity: 0.6;
}

.prdt-div button:hover{
  opacity: 0.6;
}

.swiper1 button:active{
  background: #ececec;
  color: #000;
}

.prdt-div button:active{
  background: #ececec;
  color: #000;
}

#myCateg{
  display: none;
}

.categ{
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 1px;
  background: gray;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

.cat-link{
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  color: #ececec;
  text-decoration: none;
}

.cat-link:hover{
  opacity: 0.5;
  text-decoration: none;
}

.cat-link:active{
  opacity: 0.5;
  text-decoration: none;
}

#btn-ord:hover, .btn_orders:hover, .add-to-cart:hover{
  cursor: pointer;
}

#btn-ord:active, .btn_orders:active, .add-to-cart:active{
  opacity: 0.5;
}

.backgd-img{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  max-width: 1200px; 
  margin:0 auto;
  max-height: 200px;
}

.backgd-img > img {
  width: 100%;
  align-self: center;
  align-items: center;
  height: 200px;
}

#searchres{
color: #000;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
}

#prdtdii {
  max-width: 1200px;
}

.prdt-di{
    display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.ismgs {
  width: 400px;
  height: 350px;
  box-shadow: 0 0 1px 1px gray;
  border-radius: 10px;
}

.add-to-scart {
  padding: 10px;
  width: 200px;
  margin-right: 20px;
  background-image: linear-gradient(rgb(7, 20, 55), rgb(125, 12, 120));
  color: #ececec;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 10px;
}

.add-to-scart:hover{
  opacity: 0.6;
  border: none;
  outline: none;
}

.prdt-di > div {
  padding:  20px;
}

.fav{
  font-size: 30px;
  float: inline-end;
  color: rgb(125, 12, 120);
}

.fav:hover{
  border: none;
  outline: none;
  opacity: 0.6;
  cursor: pointer;
}

.fav:active{
  opacity: 0.4;
  background: #ececec;
  color: #fff;
}

.wish-row {
  display : flex;
  background: #ececec;
  padding: 5px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.add-to-wish{
  max-width: 100px;
  background-color: rgba(255,0,0,1);
  border-radius: 5px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}

.add-to-crt{
  max-width: 100px;
  background-color: rgb(18, 192, 38);
  border-radius: 5px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}

.add-to-crts{
  max-width: 100px;
  background-color: #ececec;
  border-radius: 5px;
  color: gray;
  border: none; 
  outline: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  opacity: 0.4;
}

.wish-row > div > h5 {
  color: #000;
}

.add-to-wish:hover, .add-to-crt:hover, .btn_ords:hover{
  opacity: 0.6;
  cursor: pointer;
}

.add-to-wish:active, .add-to-crt:active {
  opacity: 0.4;
}

.btn_orders:active{
  opacity: 0.4; 
  outline: none;
  border: none;
  background-color: #ececec;
  color: #000;
}

.no-crt {
  display: none;
}

@media screen and (max-width : 1039px){
  .edit-bnt{
    display: none;
  }
}

@media  screen and (max-width: 767px) {
  .categ{
    display: none;
  }
  .log-in > .login-icn {
    display: none;
  }
  .log-in > h1 {
    display: none;
  }
  .log-div {
    border: 5px solid black;
    border-top: none;
    border-bottom:none;
    border-right: none; 
    padding: 20px;
    width: 400px;
  }
  .nav-img{
    display: none;
  }
  .footer-directory{
    display: none;
  }
  .navbar{
    width: 100vw;
    padding: 0;
  }
  .navbar-logo, .user-profile{
    display: none;
  }
  .search{
    align-items: center;
    width: calc(100vw - 10px);
    border-radius: 20px;
    margin-left: 2px;
  }
  .search-icon{
    left: 2%;
    top: 4%;
  }
  #header{
    position: absolute;
    top: 1%;
  }
  #footer{
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
  }
  .submit {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    border: none;
  }
  #sub-google{
    position: absolute;
    bottom: 14%;
    left: 0;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    border: none;
  }
  .log-row {
    border: none;
    display: block;
  }
  .log-frst{
    display: none;
  }
  #myModal{
    width: 100vw;
    box-shadow: none;
  }
  .open-modal{
    bottom: 0;
  }
  .sidenav{
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    border-radius: 0;
    display: none;
    z-index: 24000;
  }
  .nav-img{
    width: 40px;
  }
  #cont-fd{
    margin-left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dash-brd{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }
  #ro-w{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 92%;
  }
  .col-3{
    width: 100%;
  }
  .m-s{
    display: none;
  }
  .col-33{
    display: none;
  }
  .table-rs{
    max-width: 100%;
    overflow: auto;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  #tbl{
    width: 100%;
  }
  #tbl > tr > th {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
  }
  #myModales, #myModal, #myModaless{
    z-index: 20000;
  }
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  #myModalsess, #myModalses, #myModalsses, #myModalssesss, #myModasles, #mysModales, #msyModales, #msysModales{
    display: none;
  }
  .swiper-cont{
   display: none;
  }
  .mostvw, .prodiv{
    display: none;
  }
  #marg{
    margin-top: 30%;
  }
  .cls-this{
    display: none;
  }
  #nav-log{
    display: block;
    cursor: pointer;
  }
}

@media screen and (min-width : 768px){
  .screen{
    margin-top: 0;
    margin-bottom: 0;
   height: 100vh;
  }
  #header{
    background-image: linear-gradient(rgb(7, 20, 55), rgb(125, 12, 120));
    padding: 0;
    margin-top: 0;
  }
  #us-cn{
    font-size: 45px;
    padding: 5px;
  }
  #us-cns{
    align-items: center;
    color: #000;
    font-size: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-right: 20px;
    cursor: pointer;
  }
  #us-cns:hover{
    opacity: 0.5;
  }
  #us-cns:active{
    color: #ececec;
  }
  #myNavbar{
    padding: 0;
  }
  .logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-left: 20px;
  }
  .searchbar{
    display: none;
  }
  #myModales, #myModaless, #myModal{
    z-index: 20000;
    display: none;
    top: 0;
    bottom: 0;
    height: 100vh;
  }
  #cart-scroll{
    width: 100%;
    border-radius: 5px;
  }
  .modal-total{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border-radius: 0;
    border-bottom: 1px solid gray;
  }
  #myModal{
    background-image: linear-gradient(rgb(7, 20, 55), rgb(125, 12, 120));
  }
  .header-cart{
    color:#ececec;
  }
  .modal-pay{
    width: 100%;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border-radius: 5px;
  }
  #cod-pay{
    display: none;
  }
  #pdl{
    background-image: linear-gradient(rgb(7, 20, 55), rgb(125, 12, 120));
    border-radius: 10px;
    padding: 10px;
    color: #ececec;
  }
  #pdls{
    background-image: linear-gradient(rgb(7, 20, 55), rgb(125, 12, 120));
    border-radius: 10px;
    padding: 10px;
    color: #ececec;
  }
  .xlg-link:hover{
    opacity: 0.6;
  }
  #myModalses, #myModalsess, #myModalsses, #myModalssesss, #myModasles, #mysModales, #msyModales, #msysModales{
    /* height: calc(100vh - 70px);*/
     width: 350px;
     overflow-y: auto;
     overflow-x: hidden;
     position: fixed;
     right: 0;
     top: 0;
     bottom : 0;
     z-index: 24000;
     box-shadow: 5px 5px 5px 5px gray;
     background-image: linear-gradient(rgb(7, 20, 55), rgb(125, 12, 120));
     display: none;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: #ececec;
  }
  .user-cols{
    width: 100%;
  }
  .ords{
    text-decoration: none;
    color: #000;
    background-color: #ececec;
  }
  #mod-hed{
    background: #ececec;
  }
  #bod{
    color: red;
  }
  #nobod{
    color: #000;
  }
  #ord-list{
    margin-top: 0;
  }
  .btn_ords, .btn_ord{
    cursor: pointer;
  }
  .column{
    margin-top: 0;
  }
  #cheks{
    border-color: #ba8c63;
  }
  .table{
    width: 100%;
  }
  .tr{
    border-color: #ececec;
    font-size: 16px;
  }
  .backdrop-background{
    right: 0;
  }
  #locs{
    background-color: #000;
  }
  .user-cols{
    width: 100%;
  }
  .entr{
    overflow: hidden;
    height: calc(100vh - 70px);
    position: absolute;
    width: 100vw;
  }
  #scr{
    overflow-y: auto;
    height: 100vh;
  }
  .scn-dv, .scn-dvss{
    display: none;
  }
  .entr{
    height: 100vh;
  }
  .prodiv{
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
  }
  .prdt-div{
     margin: 10px;
  }
  .mostvw{
    text-align: center;
    align-items: center;
  }
  .prdt-div .img{
    width: 100%;
  }
  #row-footer, #footer{
    display: none;
  }
  #sachba{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }
  .sachcon{
    background-image: linear-gradient(rgb(7, 20, 55), rgb(125, 12, 120));
    margin: 10px;
    margin-right: 40px;
    padding: 10px;
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    color: #ececec;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .sachcon:hover{
    opacity: 0.6;
  }
  .sachcon:active{
    background: #ececec;
    color: #000;
  }
  .search{
    border-radius: 30px;
  }
  .cat-gos{
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
  }
  .cat-gos:hover{
    color: #000;
  }
  .cat-gos:active{
    opacity: 0.5;
  }
  #marg{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
  #nav-log{
    display: none;
  }
  #chks{
    width: 30px;
    height: 30px;
    padding: 10px;
  }
  #codl{
    padding: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
}